<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="SES2-Flash" displayname="SES2-Flash">
    <description type="system">
	<author>Cameron Seader</author>
	<contact>cs@suse.com</contact>
	<specification>SUSE Linux Enterprise Server 12</specification>
    </description>
    <preferences>
	<type image='oem' installiso="true" hybrid="true" boot='oemboot/suse-SLES12' filesystem='ext4' installboot='install' bootloader='grub2' fsnocheck='true'>
	    <oemconfig>
              <oem-swap>true</oem-swap>
              <oem-swapsize>2048</oem-swapsize>
              <oem-systemsize>8192</oem-systemsize>
              <oem-unattended>false</oem-unattended>
              <oem-skip-verify>true</oem-skip-verify>
              <oem-recovery>false</oem-recovery>
              <oem-reboot>false</oem-reboot>
            </oemconfig>
	</type>
	<version>0.0.8</version>
	<packagemanager>zypper</packagemanager>
	<bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>
        <rpm-check-signatures>false</rpm-check-signatures>
	<locale>en_US</locale>
	<keytable>us.map.gz</keytable>
        <hwclock>utc</hwclock>
        <timezone>utc</timezone>
	</preferences>
        <users group="users">
            <user name="ceph" password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/ceph"/>
        </users>
        <users group="root">
            <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
        </users>
    <!-- Release repos always in order newest first, oldest last -->
        <repository type="rpm-md">
            <source path="http://172.18.0.103/install/SES2/suse/"/>
        </repository>
        <repository type="rpm-md">
            <source path="http://172.18.0.103/install/smt/repo/SUSE/Updates/SLE-SERVER/12/x86_64/update/"/>
        </repository>
        <repository type="rpm-md">
            <source path="http://172.18.0.103/install/smt/repo/SUSE/Products/SLE-SERVER/12/x86_64/product/"/>
        </repository>
	<packages type="image">
		<package name="aaa_base"/>
		<package name="aaa_base-extras"/>
		<package name="acl"/>
                <package name="patterns-sles-Minimal"/>
                <package name="patterns-sles-base"/>
                <package name="patterns-sles-x11"/>
                <package name="patterns-sle-gnome-basic"/>
		<!-- SES2 Pattern  -->
                <package name="patterns-ses-ceph_server"/>
                <package name="ses-release"/>
                <package name="ses-release-cd"/>
                <!-- Add autoyast2 package for autoyast profile during firstboot -->
                <package name="autoyast2"/>
                <package name="autoyast2-installation"/>
                <package name="plymouth-branding-SLE" bootinclude="true"/>
                <package name="grub2-branding-SLE" bootinclude="true"/>
                <package name="gfxboot-branding-SLE" bootinclude="true"/>
                <package name="yast2-firstboot"/>
		<package name="at"/>
		<package name="atk"/>
		<package name="atk-lang"/>
		<package name="attr"/>
		<package name="audit"/>
		<package name="autofs"/>
		<package name="autoyast2"/>
		<package name="bash"/>
		<package name="bc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="binutils"/>
		<package name="blktrace"/>
		<package name="bzip2"/>
		<package name="ca-certificates"/>
		<package name="cifs-utils"/>
		<package name="command-not-found"/>
		<package name="coreutils"/>
		<package name="cpio"/>
		<package name="cpp"/>
		<package name="cracklib"/>
		<package name="cracklib-dict-full"/>
		<package name="crash"/>
		<package name="cron"/>
		<package name="cryptconfig"/>
		<package name="cryptsetup"/>
		<package name="curl"/>
		<package name="cyrus-sasl"/>
		<package name="cyrus-sasl-digestmd5"/>
		<package name="cyrus-sasl-gssapi"/>
		<package name="cyrus-sasl-plain"/>
		<package name="cyrus-sasl-saslauthd"/>
		<package name="dbus-1"/>
		<package name="dbus-1-glib"/>
		<package name="dbus-1-python"/>
		<package name="deltarpm"/>
		<package name="device-mapper"/>
		<package name="diffutils"/>
		<package name="dirmngr"/>
		<package name="dmapi"/>
		<package name="dos2unix"/>
		<package name="dosfstools"/>
		<package name="dracut"/>
		<package name="e2fsprogs"/>
		<package name="elfutils"/>
		<package name="ethtool"/>
		<package name="expat"/>
		<package name="expect"/>
		<package name="fastjar"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fillup"/>
		<package name="findutils"/>
		<package name="fipscheck"/>
		<package name="fontconfig"/>
		<package name="fping"/>
		<package name="freetype2"/>
		<package name="gawk"/>
		<package name="gettext-runtime"/>
		<package name="glib2"/>
		<package name="glibc"/>
		<package name="glibc-i18ndata"/>
		<package name="glibc-locale"/>
		<package name="gpg2"/>
		<package name="gpg2-lang"/>
		<package name="grep"/>
		<package name="groff"/>
		<package name="grub2"/>
		<package name="gvfs"/>
		<package name="gvfs-backends"/>
		<package name="gvfs-lang"/>
		<package name="gzip"/>
		<package name="haveged"/>
		<package name="hwinfo"/>
		<package name="icmpinfo"/>
		<package name="info"/>
		<package name="inst-source-utils"/>
		<package name="iproute2"/>
		<package name="iptables"/>
		<package name="iputils"/>
		<package name="irqbalance"/>
		<package name="kbd"/>
		<package name="kdump"/>
		<package name="kernel-default"/>
		<package name="kexec-tools"/>
		<package name="keyutils"/>
		<package name="kpartx"/>
		<package name="krb5"/>
		<package name="ksh"/>
		<package name="less"/>
		<package name="libaio"/>
		<package name="libatk-1_0-0"/>
		<package name="libaugeas0"/>
		<package name="libbz2-1"/>
		<package name="libcap"/>
		<package name="libcom_err2"/>
		<package name="libcurl4"/>
		<package name="libebl1"/>
		<package name="libelf0"/>
		<package name="libesmtp"/>
		<package name="libevent"/>
		<package name="libexif"/>
		<package name="libext2fs2"/>
		<package name="libfuse2"/>
		<package name="libgio-2_0-0"/>
		<package name="libglib-2_0-0"/>
		<package name="libgmodule-2_0-0"/>
		<package name="libgobject-2_0-0"/>
		<package name="libgpg-error0"/>
		<package name="libgpgme11"/>
		<package name="libgssglue1"/>
		<package name="libgthread-2_0-0"/>
		<package name="libidl"/>
		<package name="libidn"/>
		<package name="libjpeg-turbo"/>
		<package name="libksba"/>
		<package name="liblcms1"/>
		<package name="libldap-2_4-2"/>
		<package name="libldapcpp1"/>
		<package name="libltdl7"/>
		<package name="libmng"/>
		<package name="libmspack0"/>
		<package name="libncurses5"/>
		<package name="libnet"/>
		<package name="libnscd"/>
		<package name="libopenct1"/>
		<package name="libpcap"/>
		<package name="libpixman-1-0"/>
		<package name="libpng12-0"/>
		<package name="libreiserfs"/>
		<package name="librpcsecgss"/>
		<package name="libselinux1"/>
		<package name="libsmbclient0"/>
		<package name="libsmbios2"/>
		<package name="libsoup-2_4-1"/>
		<package name="libsqlite3-0"/>
		<package name="libstdc++6"/>
		<package name="libtasn1"/>
		<package name="libtdb1"/>
		<package name="libtirpc1"/>
		<package name="libtool"/>
		<package name="libwbclient0"/>
		<package name="libx86"/>
		<package name="libyui-ncurses-pkg6"/>
		<package name="libzio"/>
		<package name="libzypp"/>
		<package name="logrotate"/>
		<package name="lsof"/>
		<package name="lsscsi"/>
		<package name="lvm2"/>
		<package name="m4"/>
		<package name="mailx"/>
		<package name="make"/>
		<package name="makedumpfile"/>
		<package name="man"/>
		<package name="man-pages"/>
		<package name="master-boot-code"/>
		<package name="metamail"/>
		<package name="mingetty"/>
		<package name="mozilla-nss-certs"/>
		<package name="mtools"/>
		<package name="mutt"/>
		<package name="ncurses-utils"/>
		<package name="netcat-openbsd"/>
		<package name="netcfg"/>
		<package name="net-tools"/>
		<package name="nfsidmap"/>
		<package name="nscd"/>
		<package name="ntp"/>
		<package name="numactl" arch="x86_64"/>
		<package name="openct"/>
		<package name="openldap2-client"/>
		<package name="opensc"/>
		<package name="openslp"/>
		<package name="openssh"/>
		<package name="openssl"/>
		<package name="opie"/>
		<package name="orbit2"/>
		<package name="pam"/>
		<package name="pam-config"/>
		<package name="pam-modules"/>
		<package name="pam_mount"/>
		<package name="parted"/>
		<package name="patch"/>
		<package name="pciutils"/>
		<package name="pciutils-ids"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-base"/>
		<package name="perl-Bootloader"/>
		<package name="pkg-config"/>
		<package name="polkit-default-privs"/>
		<package name="popt"/>
		<package name="postfix"/>
		<package name="pptp"/>
		<package name="prctl"/>
		<package name="procinfo"/>
		<package name="procmail"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="pth"/>
		<package name="python"/>
		<package name="python-argparse"/>
		<package name="python-boto"/>
		<package name="python-configobj"/>
		<package name="python-PrettyTable"/>
		<package name="python-PyYAML"/>
		<package name="python-paramiko"/>
		<package name="python-pyserial"/>
		<package name="python-requests"/>
		<package name="python-xml"/>
		<package name="python-yaml"/>
		<package name="quota"/>
		<package name="readline-doc"/>
		<package name="recode"/>
		<package name="reiserfs"/>
		<package name="release-notes-sles"/>
		<package name="rpm"/>
		<package name="rpm-python"/>
		<package name="rsh"/>
		<package name="rsync"/>
		<package name="rsyslog"/>
		<package name="ruby"/>
		<package name="scout"/>
		<package name="screen"/>
		<package name="SDL"/>
		<package name="SUSEConnect"/>
		<package name="sed"/>
		<package name="sg3_utils"/>
		<package name="sharutils"/>
		<package name="sles-manuals_en"/>
		<package name="snmp-mibs"/>
		<package name="sqlite3"/>
		<package name="strace"/>
		<package name="sudo"/>
		<package name="supportutils"/>
		<package name="suse-build-key"/>
		<package name="SuSEfirewall2"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="systemd"/>
		<package name="systemd-presets-branding-SLE"/>
		<package name="tar"/>
		<package name="tcpd"/>
		<package name="tcpdump"/>
		<package name="tcsh"/>
		<package name="telnet"/>
		<package name="terminfo"/>
		<package name="terminfo-base"/>
		<package name="timezone"/>
		<package name="udev"/>
		<package name="unzip"/>
		<package name="update-alternatives"/>
		<package name="usbutils"/>
		<package name="utempter"/>
		<package name="util-linux"/>
		<package name="vim"/>
		<package name="vim-data"/>
		<package name="vlan"/>
		<package name="vlock"/>
		<package name="w3m"/>
		<package name="wget"/>
		<package name="wicked-service"/>
		<package name="x86info"/>
		<package name="xdg-utils"/>
		<package name="xfsprogs"/>
		<package name="xinetd"/>
		<package name="yast2"/>
		<package name="yast2-add-on"/>
		<package name="yast2-audit-laf"/>
		<package name="yast2-bootloader"/>
		<package name="yast2-branding-SLES"/>
		<package name="yast2-ca-management"/>
		<package name="yast2-core"/>
		<package name="yast2-country"/>
		<package name="yast2-country-data"/>
		<package name="yast2-dbus-server"/>
		<package name="yast2-dhcp-server"/>
		<package name="yast2-dns-server"/>
		<package name="yast2-firewall"/>
		<package name="yast2-ftp-server"/>
		<package name="yast2-hardware-detection"/>
		<package name="yast2-http-server"/>
		<package name="yast2-inetd"/>
		<package name="yast2-iscsi-client"/>
		<package name="yast2-iscsi-lio-server"/>
		<package name="yast2-isns"/>
		<package name="yast2-kdump"/>
		<package name="yast2-ldap"/>
		<package name="yast2-mail"/>
		<package name="yast2-metapackage-handler"/>
		<package name="yast2-network"/>
		<package name="yast2-nfs-client"/>
		<package name="yast2-nfs-common"/>
		<package name="yast2-nfs-server"/>
		<package name="yast2-nis-client"/>
		<package name="yast2-nis-server"/>
		<package name="yast2-ntp-client"/>
		<package name="yast2-online-update"/>
		<package name="yast2-online-update-frontend"/>
		<package name="yast2-packager"/>
		<package name="yast2-pam"/>
		<package name="yast2-perl-bindings"/>
		<package name="yast2-pkg-bindings"/>
		<package name="yast2-printer"/>
		<package name="yast2-registration"/>
		<package name="yast2-samba-client"/>
		<package name="yast2-samba-server"/>
		<package name="yast2-schema"/>
		<package name="yast2-security"/>
		<package name="yast2-slp"/>
		<package name="yast2-squid"/>
		<package name="yast2-storage"/>
		<package name="yast2-sudo"/>
		<package name="yast2-support"/>
		<package name="yast2-sysconfig"/>
		<package name="yast2-tftp-server"/>
		<package name="yast2-theme-SLE"/>
		<package name="yast2-trans-en_US"/>
		<package name="yast2-transfer"/>
		<package name="yast2-trans-stats"/>
		<package name="yast2-update"/>
		<package name="yast2-users"/>
		<package name="yast2-xml"/>
		<package name="yast2-ycp-ui-bindings"/>
		<package name="yp-tools"/>
		<package name="zip"/>
		<package name="zisofs-tools"/>
		<package name="zsh"/>
		<package name="zypper"/>
	</packages>
	<packages type="bootstrap">
	    <package name="filesystem"/>
	    <package name="yast2-firstboot"/>
	    <package name="glibc-locale"/>
	    <package name="fipscheck"/>
	    <package name="sles-release"/>
	</packages>
</image>
