<?xml version='1.0' encoding='UTF-8'?>
<image name='SUSE_Enterprise_Storage' displayname='SUSE_Enterprise_Storage' schemaversion='5.2'>
  <description type='system'>
    <author>cameron seader</author>
    <contact>studio-devel@suse.de</contact>
    <specification>Minimal SLES 12</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='oemboot/suse-SLE12-JeOS' fsnocheck='true' filesystem='ext4' installiso='true' installboot='install' image='oem'>
      <oemconfig>
        <oem-swap>true</oem-swap>
        <oem-swapsize>1024</oem-swapsize>
      </oemconfig>
    </type>
    <version>2.0.0</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
  </preferences>
  <users group='root'>
    <user name='root' pwd='$1$Q3zCs5Ek$zy3WWmTt6JU.OcvxCDPpd1' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <opensusePattern name='Minimal'/>
    <opensusePattern name='x11'/>
    <opensusePattern name='base'/>
    <opensusePattern name='ceph_server'/>
    <package name='rsync'/>
    <package name='install-initrd'/>
    <package name='kernel-firmware'/>
    <package name='autoyast2'/>
    <package name='yast2-network'/>
    <package name='yast2-firstboot'/>
    <package name='suse-sam-data'/>
    <package name='yast2-ncurses'/>
    <package name='man'/>
    <package name='ntp'/>
    <package name='vim-data'/>
    <package name='sudo'/>
    <package name='strace'/>
    <package name='command-not-found'/>
    <package name='aaa_base'/>
    <package name='bash'/>
    <package name='bootsplash'/>
    <package name='branding-SLES'/>
    <package name='coreutils'/>
    <package name='cracklib-dict-full'/>
    <package name='device-mapper'/>
    <package name='dhcpcd'/>
    <package name='e2fsprogs'/>
    <package name='elfutils'/>
    <package name='filesystem'/>
    <package name='glib2-branding-SLES'/>
    <package name='glibc'/>
    <package name='grub'/>
    <package name='ifplugd'/>
    <package name='initviocons'/>
    <package name='insserv'/>
    <package name='iputils'/>
    <package name='irqbalance'/>
    <package name='kbd'/>
    <package name='kernel-default'/>
    <package name='klogd'/>
    <package name='less'/>
    <package name='login'/>
    <package name='mdadm'/>
    <package name='mkinitrd'/>
    <package name='module-init-tools'/>
    <package name='ncurses-utils'/>
    <package name='nfs-client'/>
    <package name='openssh'/>
    <package name='openssl-certs'/>
    <package name='pam'/>
    <package name='pam-modules'/>
    <package name='procps'/>
    <package name='pwdutils'/>
    <package name='release-notes-sles'/>
    <package name='rpcbind'/>
    <package name='rpm'/>
    <package name='gfxboot'/>
    <package name='sles-release'/>
    <package name='sles-release-DVD'/>
    <package name='suse-build-key'/>
    <package name='suse-sam'/>
    <package name='suseRegister'/>
    <package name='sysconfig'/>
    <package name='syslog-ng'/>
    <package name='sysvinit'/>
    <package name='tar'/>
    <package name='timezone'/>
    <package name='vim'/>
    <package name='vim-base'/>
    <package name='w3m'/>
    <package name='zypper'/>
    <package name='cryptsetup'/>
    <package name='fillup'/>
    <package name='nscd'/>
    <package name='permissions'/>
    <package name='bash-doc'/>
    <package name='libreadline5'/>
    <package name='net-tools'/>
    <package name='openssh-askpass'/>
    <package name='mingetty'/>
    <package name='yast2-ncurses-pkg'/>
    <archive name='bootsplash.tar' bootinclude='true'/>
    <archive name='xdm.tar'/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
    <package name='gfxboot'/>
  </packages>
  <repository type='yast2'>
    <source path='{SLES 11 SP3 x86_64}'/>
  </repository>
  <repository type='rpm-md'>
    <source path='{SLES 11 SP3 Updates x86_64}'/>
  </repository>
  <repository type='yast2'>
    <source path='{SLE 11 SP3 SDK x86_64}'/>
  </repository>
  <repository type='rpm-md'>
    <source path='{SLE 11 SP3 SDK Updates x86_64}'/>
  </repository>
  <repository type='yast2'>
    <source path='{SLE 11 SP3 SMT x86_64}'/>
  </repository>
  <repository type='rpm-md'>
    <source path='{SLE 11 SP3 SMT Updates x86_64}'/>
  </repository>
</image>
