<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="SES2-Flash" displayname="SES2-Flash">
    <description type="system">
	<author>Cameron Seader</author>
	<contact>cs@suse.com</contact>
	<specification>SUSE Linux Enterprise Server 12</specification>
    </description>
    <preferences>
	<type image='oem' installiso="true" hybrid="true" boot='oemboot/suse-SLES12' filesystem='ext4' installboot='install' bootloader='grub2' fsnocheck='true'>
	    <oemconfig>
              <oem-swap>true</oem-swap>
              <oem-swapsize>2048</oem-swapsize>
              <oem-systemsize>8192</oem-systemsize>
              <oem-unattended>false</oem-unattended>
              <oem-skip-verify>true</oem-skip-verify>
              <oem-recovery>false</oem-recovery>
              <oem-reboot>false</oem-reboot>
            </oemconfig>
	</type>
	<version>0.0.8</version>
	<packagemanager>zypper</packagemanager>
	<bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>
        <rpm-check-signatures>false</rpm-check-signatures>
	<locale>en_US</locale>
	<keytable>us.map.gz</keytable>
        <hwclock>utc</hwclock>
        <timezone>Europe/Berlin</timezone>
	</preferences>
        <users group="users">
            <user name="ceph" password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/ceph"/>
        </users>
        <users group="root">
            <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
        </users>
    <!-- Release repos always in order newest first, oldest last -->
        <repository type="yast2">
            <source path="/home/cseader/Downloads/SES2/"/>
        </repository>
        <repository type="rpm-md">
            <source path="http://172.18.0.103/install/smt/repo/SUSE/Updates/SLE-SERVER/12/x86_64/update/"/>
        </repository>
        <repository type="yast2">
            <source path="/home/cseader/Downloads/SLES12GA-x86_64/"/>
        </repository>
	<packages type="image">
        <!-- X patterns
        <package name="patterns-sles-x11"/>
        <package name="patterns-sle-gnome-basic"/>
        -->
        <!-- Add autoyast2 package for autoyast profile during firstboot 
        <package name="autoyast2"/>
        <package name="autoyast2-installation"/>
        -->
        <!-- Packages for Systemd Graphical Target
        <package name="Mesa"/>
	<package name="plymouth"/>
	<package name="x11-tools"/>
	<package name="xkeyboard-config"/>
        <package name="xorg-x11"/>
       	<package name="xorg-x11-driver-input"/>
       	<package name="xorg-x11-driver-video"/>
       	<package name="xorg-x11-libs"/>
       	<package name="xterm"/>
       	<package name="xorg-x11-server"/>
       	<package name="xorg-x11-server-extra"/>
         -->
        <!-- jeos server -->
        <package name="plymouth-branding-SLE" bootinclude="true"/>
        <package name="grub2-branding-SLE" bootinclude="true"/>
        <package name="gfxboot-branding-SLE" bootinclude="true"/>
        <package name="patterns-sles-Minimal"/>
        <package name="dhcp-client"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="grub2"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="lvm2"/>
        <package name="openssh"/>
        <package name="parted"/>
        <package name="plymouth"/>
        <package name="psmisc"/>
        <package name="rsync"/>
        <package name="syslinux"/>
        <package name="systemd"/>
        <package name="systemd-sysvinit"/>
        <package name="sudo"/>
        <package name="tar"/>
        <package name="vim"/>
        <package name="which"/>
        <!-- end jeos server -->
        <!-- basic functionality -->
        <package name="at"/>
        <package name="at-spi2-core"/>
        <!--Accessibility-->
	<package name="aaa_base"/>
	<package name="kernel-firmware"/>
	<package name="aaa_base-extras"/>
        <package name="attr"/>
        <package name="audit"/>
        <package name="autofs"/>
        <package name="bc"/>
        <package name="binutils"/>
        <package name="blktrace"/>
        <package name="cifs-utils"/>
        <package name="command-not-found"/>
        <package name="crash"/>
        <package name="cryptconfig"/>
        <package name="curl"/>
        <!-- Authentication functionality -->
        <package name="cyrus-sasl"/>
        <package name="cyrus-sasl-digestmd5"/>
        <package name="cyrus-sasl-gssapi"/>
        <package name="cyrus-sasl-plain"/>
        <package name="cyrus-sasl-saslauthd"/>
        <!-- Authentication functionality end -->
        <package name="deltarpm"/>
        <package name="kernel-default"/>
        <package name="kexec-tools"/>
        <package name="kpartx"/>
        <package name="patch"/>
        <package name="dos2unix"/>
        <package name="dosfstools"/>
        <package name="ethtool"/>
        <package name="expect"/>
        <package name="fping"/>
        <package name="glibc-i18ndata"/>
        <package name="haveged"/>
        <package name="icmpinfo"/>
        <package name="irqbalance"/>
        <package name="krb5-client"/>
        <package name="ksh"/>
        <package name="libnl1"/>
        <!-- netlink protocol support 
        <package name="libnettle4"/>
        -->
        <!-- used by gpg -->
        <package name="lockdev"/>
        <package name="man"/>
        <package name="man-pages"/>
        <package name="mozilla-nss-certs"/>
        <package name="netcat-openbsd"/>
        <package name="nfsidmap"/>
        <package name="nfs-client"/>
        <package name="nfs-kernel-server"/>
        <package name="nscd"/>
        <package name="ntp"/>
        <package name="openldap2-client"/>
        <package name="opie"/>
        <package name="pam-modules"/>
        <package name="polkit-default-privs"/>
        <package name="prctl"/>
        <package name="procinfo"/>
        <package name="quota"/>
        <package name="recode"/>
        <package name="release-notes-sles"/>
        <package name="rsh"/>
        <package name="screen"/>
        <package name="sles-manuals_en"/>
        <package name="strace"/>
        <package name="supportutils"/>
        <package name="SUSEConnect"/>
        <package name="SuSEfirewall2"/>
        <package name="suse-build-key"/>
        <package name="tcpd"/>
        <package name="tcpdump"/>
        <package name="tcsh"/>
        <package name="telnet"/>
        <package name="terminfo"/>
        <package name="vlock"/>
        <package name="wget"/>
        <package name="x86info"/>
        <package name="xfsprogs"/>
        <package name="xinetd"/>
        <package name="yp-tools"/>
        <package name="zip"/>
        <package name="zsh"/>
        <!-- packages needed for resolution in OBS -->
        <package name="acl"/>
        <package name="fipscheck"/>
        <package name="ncurses-utils"/>
        <package name="sg3_utils"/>
        <package name="pkg-config"/>
        <package name="elfutils"/>
        <!-- end packages needed for resolution in OBS -->
        <!-- end basic functionality -->
        <!-- Enable Qt mode for YaST firstboot with yast2-x11,libyui-qt
        <package name="yast2-x11"/>
        <package name="libyui-qt-pkg6"/>
        -->
        <!-- user configuration tools -->
        <package name="yast2-firstboot"/>
        <package name="libyui-ncurses-pkg6"/>
        <package name="yast2"/>
        <package name="yast2-add-on"/>
        <package name="yast2-audit-laf"/>
        <package name="yast2-bootloader"/>
        <package name="yast2-ca-management"/>
        <package name="yast2-core"/>
        <package name="yast2-country"/>
        <package name="yast2-country-data"/>
        <package name="yast2-dbus-server"/>
        <package name="yast2-dhcp-server"/>
        <package name="yast2-dns-server"/>
        <package name="yast2-firewall"/>
        <package name="yast2-ftp-server"/>
        <package name="yast2-hardware-detection"/>
        <package name="yast2-http-server"/>
        <package name="yast2-inetd"/>
        <package name="yast2-iscsi-client"/>
        <package name="yast2-iscsi-lio-server"/>
        <package name="yast2-isns"/>
        <package name="yast2-kdump"/>
        <package name="yast2-ldap"/>
        <package name="yast2-mail"/>
        <package name="yast2-network"/>
        <package name="yast2-nfs-client"/>
        <package name="yast2-nfs-common"/>
        <package name="yast2-nfs-server"/>
        <package name="yast2-nis-client"/>
        <package name="yast2-nis-server"/>
        <package name="yast2-ntp-client"/>
        <package name="yast2-online-update"/>
        <package name="yast2-online-update-frontend"/>
        <package name="yast2-packager"/>
        <package name="yast2-pam"/>
        <package name="yast2-perl-bindings"/>
        <package name="yast2-pkg-bindings"/>
        <package name="yast2-printer"/>
        <package name="yast2-registration"/>
        <package name="yast2-samba-client"/>
        <package name="yast2-samba-server"/>
        <package name="yast2-schema"/>
        <package name="yast2-security"/>
        <package name="yast2-squid"/>
        <package name="yast2-storage"/>
        <package name="yast2-sudo"/>
        <package name="yast2-support"/>
        <package name="yast2-sysconfig"/>
        <package name="yast2-tftp-server"/>
        <package name="yast2-theme-SLE"/>
        <package name="yast2-trans-en_US"/>
        <package name="yast2-transfer"/>
        <package name="yast2-trans-stats"/>
        <package name="yast2-update"/>
        <package name="yast2-users"/>
        <package name="yast2-xml"/>
        <package name="yast2-ycp-ui-bindings"/>
        <!-- end user configuration tools -->
	<!-- SES2 Pattern  -->
        <package name="patterns-ses-ceph_server"/>
        <package name="ses-release"/>
        <package name="ses-release-cd"/>
        <!-- End SES2 Pattern -->
	</packages>
	<packages type="bootstrap">
	    <package name="filesystem"/>
	    <package name="glibc-locale"/>
	    <package name="fipscheck"/>
	    <package name="sles-release"/>
	</packages>
</image>
