[Unit]
Description=Execute user-provided boot script, if it exists
ConditionFileIsExecutable=/etc/init.d/ses-init-splash

# This line is required because by default the build script checks for
# /etc/init.d/suse_studio_firstboot presence to detect the first boot. If this
# service was run after suse-studio-firstboot.service, that file would be
# deleted already.
After=network.target
Before=ses-init-script.service systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/ses-init-splash
