[Unit]
Description=Execute the first boot script, if it exists
ConditionPathExists=/etc/init.d/ses-init-script

After=network.service ses-init-splash.service
Before=xdm.service getty@tty1.service YaST2-Second-Stage.service systemd-user-sessions.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/plymouth --hide-splash
ExecStart=/bin/sh /etc/init.d/ses-init-script
StandardInput=tty

